{% extends file('layout') %}

{% block title %}Register{% endblock %}

{% block body %}
<form action="" method="post" id="loginForm">
<fieldset>
    <legend>Register</legend>

    <p><label>ID</label></p>
    <p><input type="text" name="account_id" value="" placeholder="ID" /></p>

    <hr />

    <p><label>Password: </label></p>
    <p><input type="password" name="password" value="" placeholder="PW" /></p>

    <p><label>Password(re-typing): </label></p>
    <p><input type="password" name="password-confirm" value="" placeholder="PW (Re-typing)" /></p>

    <hr />

    <p><label>Nickname: </label></p>
    <p><input type="text" name="nickname" value="" placeholder="Nickname" /></p>

    <p><label>Email: </label></p>
    <p><input type="email" name="email" value="" placeholder="Email" /></p>

    <p><input type="submit" value="Register" /></p>
</fieldset>
</form>
{% endblock %}
