{% extends file('layout') %}

{% block title %}Register{% endblock %}

{% block body %}
<form action="" method="post" id="loginForm">
<fieldset>
    <legend>Register</legend>

    <p><label for="register-input-id">ID: </label></p>
    <p><input type="text" name="account_id" id="register-input-id" value="" placeholder="ID" /></p>

    <hr />

    <p><label for="register-input-password">Password: </label></p>
    <p><input type="password" name="password" id="register-input-password" value="" placeholder="PW" /></p>

    <p><label for="register-input-re-password">Password(re-typing): </label></p>
    <p><input type="password" name="password-confirm" id="register-input-re-password" value="" placeholder="PW (Re-typing)" /></p>

    <hr />

    <p><label for="register-input-nickname">Nickname: </label></p>
    <p><input type="text" name="nickname" id="register-input-nickname" value="" placeholder="Nickname" /></p>

    <p><label for="register-input-email">Email: </label></p>
    <p><input type="email" name="email" id="register-input-email" value="" placeholder="Email" /></p>

    <p><input type="submit" value="Register" /></p>
</fieldset>
</form>
{% endblock %}
