div.register-wrap {
    max-width: 800px;
}

div.input-group, div.form-group > div.row {
    margin-bottom: 5px;
}

div.input-group:last-child, div.form-group > div.row:last-child {
    margin-bottom: 0;
}

label > span {
    width: 120px;
    text-align: right;
    display: inline-block;
}

p.necessary-info span.asterisk:after, label.necessary-info:after {
    content: '*';
    text-indent: 0;
    vertical-align: top;
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
}

p#input_check > span {
    margin-right: 5px;
}

p#input_check.exist {
    color: rgba(255, 0, 0, 1);
}

p#input_check.available {
    color: rgba(0, 255, 0, 1);
}

div.alert {
     margin-bottom: 5px;
}

div.alerts div:last-child {
    margin-bottom: 15px;
}