body {
    font-family: sans-serif;
    margin-bottom: 50px;
}

header {
    padding: 10px;
    background: rgb(50, 50, 50);
    color: white;
}

header h1 {
    margin: 0 auto;
    font-size: 20pt;
    float: left;
}

header .loginPanel {
    float: right;
}

header .loginPanel p {
    margin: 0;
}

label {
    cursor: pointer;
}

label.necessary-info:after {
    content: '*';
    text-indent: 0;
    vertical-align: top;
    color: rgba(255, 0, 0, 1);
    font-weight: bold;
}

.table thead {
    background: #f2f2f2;
}

.table thead tr {
    height: 45px;
}

.table thead tr th {
    text-align: center;
    border-top: 1px #9d9d9d solid !important;
    border-bottom: 0 none;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    vertical-align: middle;
}

.table tbody tr {
    height: 50px;
}

.table .no {
    width: 5em;
    text-align: center;
    vertical-align: middle;
}

.table .subject {
    vertical-align: middle;
    padding: 0 8px;
    height: 50px;
}

.table .subject .badge{
    margin-left: 10px;
    font-size: 11px;
    background: white;
    border: 1px solid #9d9d9d;
    color: #9d9d9d;
}

.table tbody .subject a {
    display: block;
    height: 50px;
    line-height: 47px;
}


.table .author {
    width: 8em;
    text-align: center;
    vertical-align: middle;
}

.table .time {
    width: 10em;
    text-align: center;
    vertical-align: middle;
}

.table tbody .no, .table tbody .time {
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
}

.pager li span, .pager li a {
    margin: 0 5px;
}

ul.postInfo {
    padding: 10px 20px;
    float: right;
}

ul.postInfo li span {
    font-weight: bold;
}

div.file {
    margin-top: 50px;
}

li.list-group-item input[type=checkbox]:checked + span {
    text-decoration: line-through;
    color: red;
}

article .content, section.comment .content {
    word-break: break-all;
}

section.comment {
    margin-top: 25px;
}

section.comment div.file {
    margin-top: 20px;
}

section.comment {
    margin-top: 40px;
}

section.comment .breadcrumb {
    padding: 0;
    margin: 0;
}

section.comment .comment_info {
    padding: 0px 5px 5px 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}

section.comment div.content {
    padding: 0 5px 5px 5px;
}


nav.action {
    margin-top: 25px;
}

div.form-group.well {
    padding-bottom: 0;
}

div.content {
    min-height: 120px;
}

p.no-comment {
    text-align: center;
    padding: 40px 0;
}
p.no-comment span.emoji {
    display: block;
    font-size: 30px;
}