body {
    font-family: sans-serif;
}

header {
    padding: 10px;
    background: rgb(50, 50, 50);
    color: white;
}

body > section, header > div {
    margin: 0 auto;
    width: 1000px;
    font-size: 14pt;
}

header:after {
    content: ' ';
    display: block;
    clear: both;
}

h1 {
    margin: 0 auto;
    font-size: 20pt;
    float: left;
}

header form {
    float: right;
}

.table .no {
    width: 3em;
    text-align: center;
}
.table .author {
    width: 8em;
    text-align: center;
}
.table .time {
    width: 8em;
    text-align: center;
}


ul.postInfo {
    padding: 10px 20px;
    float: right;
}

ul.postInfo li span {
    font-weight: bold;
}


nav.action {
    margin-top: 50px;
}
