{% extends comment.getId() ? 'default/layout.twig' : 'default/empty.twig' %}

{% block body %}

{% if comment.getId() %}
<h2 class="page-header">Editing commeent</h2>
{% endif %}

<form method="POST" action="{{ comment.getId() ? '' : url('/post/' ~ post.getId() ~ '/comment') }}">
<fieldset>
    {% if not comment.getId() %}
    <legend>Writing comment</legend>
    {% endif %}

    {% if loggedAccountId is empty %}
    <div class="row">
    <div class="form-group col-sm-6">
        <label>Author</label>
        <input type="text" name="author" value="{{ comment.getAuthor() | escape }}" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />
    </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label>Content</label>
        <textarea name="content" rows="10" cols="80" class="form-control">{{ comment.getContent() | escape }}</textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</fieldset>
</form>
{% endblock %}
