{% extends file('layout') %}

{% block body %}
<h2 class="page-header">Delete</h2>

<p class="alert alert-warning"><strong>Are you delete a {{ post ? 'post' : 'comment' }} really?</strong></p>

<form action="" method="POST">
<div class="form-group">
    {% if loggedAccountId is empty %}
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />
    </div>
    {% endif %}
    <input type="submit" value="Delete" class="btn btn-danger" />
</div>
</form>
{% endblock %}
