<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Prob-board{% endblock %}</title>
    {{ css(asset('board.css')) }}
</head>
<body>

<header>
    <h1>Prob-board</h1>
</header>

<section>
{% block body %}
{% endblock %}
</section>

</body>
</html>
