<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Prob-board{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    {{ css(asset('board.css')) }}
</head>
<body>

<header>
    <div>
    <h1>Prob-board</h1>
    <form method="POST" action="{{ url('/auth/login') }}" class="form-inline">
        <div class="form-group">
            <label class="sr-only">ID</label>
            <input type="text" name="account_id" value="" placeholder="ID" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label class="sr-only">Password</label>
            <input type="password" name="password" value="" placeholder="Password" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary btn-sm" />
        </div>
    </form>
    </div>
</header>

<section class="{% block sectionClassName %}{% endblock %}">
{% block body %}
{% endblock %}
</section>

</body>
</html>
