<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Prob-board{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    {{ css(asset('board.css')) }}
</head>
<body>

<header>
    <div>
    <h1>Prob-board</h1>
    <div class="loginPanel">
    {{ include ('default/loginPanel.twig') }}
    </div>
    </div>
</header>

<section class="{% block sectionClassName %}{% endblock %}">
{% block body %}
{% endblock %}
</section>

</body>
</html>
