{% if not loggedAccountId %}
<form method="POST" action="{{ url('/auth/login') }}" class="form-inline">
    <div class="form-group">
        <label for="login-input-id" class="sr-only">ID</label>
        <input type="text" name="account_id" id="login-input-id" value="" placeholder="ID" class="form-control input-sm" required="required" />
    </div>
    <div class="form-group">
        <label for="login-input-password" class="sr-only">Password</label>
        <input type="password" name="password" id="login-input-password" value="" placeholder="Password" class="form-control input-sm" required="required" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</button>
        <a class="btn btn-default btn-sm" href="{{ url('/auth/register') }}">Register</a>
    </div>
</form>

{% else %}
<p>
    User: {{ loggedAccountId }}
    <a class="btn btn-warning btn-sm" href="{{ url('/auth/logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a>
</p>
{% endif %}
