{% extends file('layout') %}

{% block body %}
<h2 class="page-header">Password confirm</h2>

<p class="alert alert-warning"><strong>Input password for this operation</strong></p>

<form action="" method="POST">
<div class="form-group">
    <div class="form-group">
        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" value="" class="form-control" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</div>
</form>
{% endblock %}
