{% extends 'default/layout.twig' %}

{% block section %}post{% endblock %}

{% block body %}
<h2>{{ post.getSubject() }}</h2>
<ul class="postInfo">
    <li><span>Author:</span> {{ post.getAuthor() }}</li>
    <li><span>Time:</span> {{ post.getCreatedAt() | date('Y-M-d') }}</li>
</ul>
<section class="content">
{{ post.getContent | escape | nl2br }}
</section>
{% endblock %}
