{% extends 'default/layout.twig' %}

{% block body %}
<form method="POST">
<fieldset>
    <p>
        <label>Subject</label><br />
        <input type="text" name="subject" value="" />
    </p>
    <p>
        <label>Author</label><br />
        <input type="text" name="author" value="" />
    </p>
    <p>
        <label>Content</label><br />
        <textarea name="content" rows="10" cols="80"></textarea>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>

</fieldset>
</form>
{% endblock %}
