{% extends 'default/layout.twig' %}

{% block body %}
<h2 class="page-header">{{ post ? 'Edit' : 'Write'}}</h2>

<form method="POST">
<fieldset>
    <div class="form-group">
        <label>Subject</label>
        <input type="text" name="subject" value="{{ post.getSubject() | escape }}" class="form-control" />
    </div>

    {% if loggedAccountId is empty %}
    <div class="form-group">
        <label>Author</label>
        <input type="text" name="author" value="{{ post.getAuthor() | escape }}" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />
    </div>
    {% endif %}

    <div class="form-group">
        <label>Content</label>
        <textarea name="content" rows="10" cols="80" class="form-control">{{ post.getContent() | escape }}</textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</fieldset>
</form>
{% endblock %}
