{% extends file('layout') %}

{% block body %}
<h2>Boards</h2>
<ul>
    {% for board in boards %}
    <li>
        <a href="{{ readUri(board) }}">
            {{ board.getTitle() }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
